body {
  font-family: 'Verdana', sans-serif;
  background-color: rgb(245, 117, 172);
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(236, 40, 125);
  color: white;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 30px 20px;
  background-color: #ffa3c5;
  margin: 10px 0;
  border-radius: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section h2 {
  font-size: 1.8em;
  color: #4b004b;
}

section h3 {
  font-size: 1.4em;
  margin-top: 20px;
  color: #77004d;
}

.tim-kami {
  background-color: #ffa3c5;
  padding: 25px;
  border-radius: 12px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #4b004b;
}

.tim-kami h2 {
  color: #4b004b;
}

.tim-kami ul {
  text-align: left;
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.tim-kami ul li {
  margin-bottom: 20px;
  background-color: #ffd6e8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.tim-kami strong {
  color: #2d0036;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #e67ca7;
  padding: 10px;
  background-color: #fff0f5;
}

th {
  background-color: #e60073;
  color: white;
}

footer {
  background-color: #d6006d;
  color: white;
  padding: 10px;
  font-size: 0.9em;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

